body{
    font-family: 'Times New Roman';
    font-size: medium;
}

h2{
    color: rgb(49, 13, 193);
}
h1{
    color: rgb(220, 24, 24);
}
table, th, td {
    border: 1px solid  rgb(217, 209, 209);
    border-collapse: collapse;
}
th, td {
    background-color: #bec708;
}

imageclass{
    height: 192 px;
    width: 192 px;
}