body{
    font-family: 'Times New Roman';
    font-size: medium;
}

h2{
    color: rgb(49, 13, 193);
}
h1{
    color: rgb(220, 24, 24);
}
table, th, td {
    border: 2px solid  rgb(169, 25, 25);
    border-collapse: collapse;
}
th, td {
    background-color: #bec708;
}

image{
display: flex ;
flex-direction: column;
}