*{
    margin: 0;
    padding:0;
}

body{
    height: 100vh;
    background-position: top center;
}

.main{
    margin: 100px auto;
    background-color: rgb(240,248,255,0.6);
    padding: 20;
    text-align: center;
    width: 50vh;
}