.body{
    margin: 0;
}

.search-box{
    background-color: rgb(207, 246, 246);
    border: none;
    border-radius: 0.1cm;
    margin-top: 50px;
    height:25px;
    width:30%;
}

.input-box{
    background-color: white;
    font-family: 'Times New Roman';
    color: black;
    border:none;
}